<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "mapper.BookMapper">

	<insert id="insert" parameterType="BookVO" useGeneratedKeys="true" keyColumn="book_num" keyProperty="bookNum">
		INSERT INTO book (title, writer, price, publisher) VALUES(#{title}, #{writer}, #{price}, #{publisher})
	</insert>
	
	<update id="update" parameterType="BookVO">
		UPDATE book SET price=#{price} WHERE book_num=#{bookNum}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM book WHERE book_num=#{bookNum}
	</delete>
	
	<select id="select" parameterType="Integer" resultMap="bookMap">
		SELECT * FROM book WHERE book_num=#{bookNum}
	</select>
	
	<select id="selectList" resultMap="bookMap">
		SELECT * FROM book
	</select>
	
	<resultMap type="BookVO" id="bookMap">
		<result column="book_num" property="bookNum" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="price" property="price" />
		<result column="publisher" property="publisher"/>
	</resultMap>
</mapper>