<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookMapper">
	<insert id="insert" parameterType="BookVO" useGeneratedKeys="true" keyColumn="book_num" keyProperty="bookNum">
		INSERT INTO book (title, writer, price, publisher) VALUES(#{title}, #{writer}, #{price}, #{publisher})
	</insert>
	
	<update id="update" parameterType="BookVO">
		UPDATE book SET title= #{title}, writer=#{writer}, price=#{price}, publisher=#{publisher} WHERE book_num=#{bookNum}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM book WHERE book_num=#{bookNum}
	</delete>
	
	<select id="select" parameterType="Integer" resultMap="bookMap">
		SELECT * FROM book WHERE book_num = #{bookNum}
	</select>
	
	<select id="selectList" parameterType="Map" resultMap="bookMap">
		SELECT * FROM book ORDER BY book_num DESC LIMIT #{startRow}, #{endRow}
	</select>
	
	<select id="selectCount" resultType="Integer">
		SELECT COUNT(*) FROM book
	</select>
	
	<resultMap type="BookVO" id="bookMap">
		<result property="bookNum" column="book_num"/>
		<result property="title" column="title"/>
		<result property="writer" column="writer"/>
		<result property="price" column="price"/>
		<result property="publisher" column="publisher"/>
	</resultMap>

</mapper>