<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
	<insert id="insert" parameterType="ArticleVO" useGeneratedKeys="true" keyColumn="article_num" keyProperty="articleNum">
		INSERT INTO article (title, content, writer, read_count, write_date) VALUES (#{title}, #{content}, #{writer}, 0, now()) 
	</insert>
	
	<update id="update" parameterType="ArticleVO">
		UPDATE article SET title=#{title}, content=#{content}, writer=#{writer} WHERE article_num=#{articleNum}
	</update>
	
	<update id="update" parameterType="Integer">
		UPDATE article SET read_count = read_count +1
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM article WHERE article_num={articleNum}
	</delete>
	
	<select id="select" parameterType="Integer" resultMap="articleMap">
		SELECT * FROM article WHERE article_num = #{articleNum}
	</select>
	
	<select id="selectList" parameterType="Map" resultMap="articleMap">
		SELECT * FROM article ORDER BY article_num DESC LIMIT #{startRow}, #{endRow}
	</select>
	
	<select id="selectCount" resultType="Integer">
		SELECT COUNT(*) FROM article
	</select>
	
	
	<resultMap type="ArticleVO" id="articleMap">
		<result column="article_num" property="articleNum"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="writer" property="writer"/>
		<result column="read_count" property="readCount"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>
</mapper>