<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">
	<insert id="insert" parameterType="MemberVO" useGeneratedKeys="true" keyColumn="member_num" keyProperty="memberNum">
		INSERT INTO member (id, password, email, phone) VALUES(#{id}, #{password}, #{email}, #{phone})
	</insert>
	
	<update id="update" parameterType="MemberVO">
		UPDATE member SET password=#{password}, email=#{email}, phone=#{phone} WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="Interger">
		DELETE FROM member WHERE member_num=#{memberNum}
	</delete>
	
	<select id="select" parameterType="Integer" resultMap="memberMap">
		SELECT * FROM member WHERE member_num=#{memberNum}
	</select>
	
	<resultMap type="MemberVO" id="memberMap">
		<result column="member_num" property="memberNum"/>
		<result column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
	</resultMap>
</mapper>